#!/bin/sh

set -e

{{ range $keyFile := joinPath .chezmoi.sourceDir "../gpg/*.asc" | glob }}
# sha256sum for {{ $keyFile }}: {{ include $keyFile | sha256sum }}
gpg --import "{{ $keyFile }}"
{{ end }}
