#!/bin/bash

set -e

{{ $package := "paru-bin" -}}
{{- $revision := "329be2113c590046cb29858c23d9b96a8d7bd586" -}}
{{- $paruCache := joinPath .chezmoi.homeDir ".cache" "paru" "clone" -}}
{{- $clonePath := joinPath $paruCache $package -}}

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
mkdir -p {{ $paruCache | quote }}
git clone --revision {{ $revision }} https://aur.archlinux.org/{{ $package }}.git {{ $clonePath | quote }}
cd {{ $clonePath | quote }}
makepkg -si

{{- else -}}
echo Not running on Arch. Skipping!
{{- end }}
